.recipe-card {
  background-color: rgba(105, 110, 209, 0.365);
  border-radius: 16px;
  height: 250px;
  margin: 15px;
  width: 200px;
}

.linkRecipeCard {
  text-decoration: none;
}

.recipe-card img {
  border-radius: 15px 15px 0 0;
  overflow: hidden;
  width: 100%;
}

@media screen and ( max-width : 360px ) {

  .recipe-card {
    width: 100%;
  }

  .recipe-card .recipe-card-content {
    padding: 10px;
  }

  .recipe-card .recipe-card-content h2 {
    font-size: 1.2rem;
    margin: 0;
  }

  .recipe-card .recipe-card-content p {
    font-size: 0.8rem;
    margin: 0;
  }

  .recipe-card .recipe-card-content .recipe-card-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .recipe-card .recipe-card-content .recipe-card-footer .recipe-card-footer-left {
    display: flex;
  }

}

