.carousel-conteiner {
  background-color: black;
  display: flex;
  flex-flow: row nowrap;
  height: 150px;
  overflow-x: scroll;
  width: 300px;
}

.carousel-card {
  margin: 5px;
  min-height: 150px;
  min-width: 140px;
}

.start-recipe-btn {
  bottom: 0;
  margin-bottom: 66px;
  margin-left: 90%;
  position: fixed;
}

