.footerContener {
  background-color: rgba(105, 110, 209, 0.365);
  border-top: 1px solid #e6e6e6;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  position: fixed;
  width: 100%;
}
