.footerContener {
  align-items: center;
  background: #41197f;
  bottom: 0;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  height: 52px;
  justify-content: space-between;
  left: 0;
  position: fixed;
  width: 100%;

}

.iconFoote {
  margin-left: 25px;
  margin-right: 40px;
}

.containerOfFooter {
  height: 66px;
}

