.footerContener {
  background-color: rgba(105, 110, 209, 0.365);
  border-top: 1px solid #e6e6e6;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  width: 100%;
}
.iconFoote {
  margin-left: 25px;
  margin-right: 40px;
}

.containerOfFooter {
  height: 66px;
}
