.headerComponent {
  background-color: rgba(105, 110, 209, 0.365);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.274);
}

.containerIcons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.containerIconAndSearch {
  display: flex;
  justify-content: end;
}

.containerForm {
  text-align: center;
  width: 100%;
}

.containerForm input {
  margin: 10px;
}

.inputSearch {
  border: none;
  border-radius: 6px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.274);
  height: 25px;
  margin: 10px;
  width: 90%;
}

.buttonSearch {
  background-color: yellow;
  border: none;
  border-radius: 6px;
  box-sizing: 2px 2px 4px rgba(0, 0, 0, 0.274);
  color: grey;
  height: 25px;
  margin: 10px;
  width: 200px;
}

.buttonSearch:hover {
  background-color: rgb(253, 253, 9);
  transform: scale(1.09, 1.09);
}

.iconButtonSearch {
  background: transparent;
  border: none;
  cursor: pointer;
  margin: 10px;
}

.iconImgProfile {
  margin: 10px;
  margin-right: 30px;
}

.headerTitle {
  padding: 10px;
  text-align: center;
}
