.carousel-conteiner {
  display: flex;
  height: 190px;
  overflow-x: scroll;
}

.carousel-card {
  border: 0.1px solid #b1b1b1;
  border-radius: 6px;
  box-shadow: 3px 1px 14px 2px #b1b1b1;
  margin: 10px;
}

.carrouselImag {
  height: 130px;
  width: 150px;
}

.drinksContainer {
  background-position: center;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  height: 150px;
  justify-content: center;
  margin: auto;
}

.title {
  color: white;
  font-size: 30px;
  font-weight: 800;
}

.shareBtn {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
  margin: 0 10px;
  outline: none;
  position: absolute;
  right: 40px;
  top: 10px;
}

.favoriteBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 7px;
}

.favoriteBtn img {
  width: 30px;
}

.itemCategory {
  color: #fcc436;
  font-size: 20px;
  left: 40px;
  margin: 0;
  position: absolute;
  text-shadow: 5px 5px 5px black;
  top: 10px;

}

.ingredientsList {
  border: 0.5px solid #b1b1b1;
  font-size: 20px;
  margin: auto;
  padding: 30px;
  width: 70%;
}

.ingredientsList li {
  list-style: none;
  margin: 10px;
}

.ingredientTitle {
  font-size: 20px;
  text-align: center;

}

.instructionsList {
  border: 0.5px solid #b1b1b1;
  font-size: 20px;
  margin: auto;
  margin-bottom: 20px;
  padding: 30px;
  width: 70%;
}

.carName {
  font-size: 16px;
  margin: 0;
  text-align: center;
}

/* .link {
  background-color: aqua;
  height: 25px;
  width: 360px;
} */

.start-recipe-btn {
  background-color: #fcc436;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: 300px;
}

.iconCategory {
  left: 5px;
  position: absolute;
  top: 6px;
  width: 30px;
}

.containerYouTube {
  text-align: center;
}

.containerYouTube > iframe {
  box-shadow: 3px 1px 14px 2px #b1b1b1;
  height: 200px;
  width: 360px;
}

.messageDone {
  align-items: center;
  background-color: rgb(253, 241, 241);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  left: 25%;
  position: absolute;
  top: 40%;
  width: 200px;
}

.messageDone > img {
  width: 50px;
}

.messageDone > button {
  background-color: #fcc436;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 10px;
  width: 100px;
}

.messageDone > p {
  font-size: 20px;
  font-weight: 600;
}

.containerAlert {
  background-color: rgba(0, 0, 0, 0.363);
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100vw;
}
