.recipes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 89%;
}

.category-button {
  background-color: transparent;
  border: none;
  height: 70px;
  width: 60px;
}

.categories-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.containerRecipes {
  display: flex;
  justify-content: center;
}
