.carousel-conteiner {
  display: flex;
  flex-flow: row nowrap;
  height: 200px;
  overflow-x: scroll;
  width: 350px;
}

.carousel-card {
  border: 0.5px solid #b1b1b1;
  height: 100px;
  margin: 10px;
  width: 240px;

  /* overflow: hidden; */
}

.drinksContainer {
  background-position: center;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  height: 150px;
  justify-content: center;
  margin: auto;
}


.title {
  color: white;
  font-size: 30px;
  font-weight: 800;
  left: 110px;
  position: absolute;
  top: 40px;

}

.shareBtn {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
  margin: 0 10px;
  outline: none;
  position: absolute;
  right: 40px;
  top: 10px;
}

.favoriteBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 7px;
}

.favoriteBtn img {
  width: 30px;
}

.itemCategory {
  color: #fcc436;
  font-size: 20px;
  left: 40px;
  margin: 0;
  position: absolute;
  text-shadow: 5px 5px 5px black;
  top: 10px;

}

.ingredientsList {
  border: 0.5px solid #b1b1b1;
  font-size: 20px;
  margin: auto;
  padding: 30px;
  width: 70%;
}

.ingredientsList li {
  list-style: none;
  margin: 10px;
}

.ingredientTitle {
  font-size: 20px;
  text-align: center;

}

.instructionsList {
  border: 0.5px solid #b1b1b1;
  font-size: 20px;
  margin: auto;
  margin-bottom: 20px;
  padding: 30px;
  width: 70%;
}

.carName {
  text-align: center;
}

/* .link {
  background-color: aqua;
  height: 25px;
  width: 360px;
} */

.start-recipe-btn {
  background-color: #fcc436;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: 300px;

}
