.recipes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.category-button {
  background-color: transparent;
  border: none;
  height: 70px;
  width: 60px;
}

.categories-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
